
.skincare-daily-section {
    background-color: var(--skincare-light-bg);
    color: var(--skincare-dark);
    padding: 23px 12px 73px 73px;
    overflow: hidden;
    align-items: center;
}
.skincare-daily-wrapper {
    display: flex;
    flex-direction: column;
    padding: 25px 25px 25px 25px;;
}

.skincare-daily-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.skincare-daily-grid-col1, .skincare-daily-grid-col2, .skincare-daily-grid-col3 {
    display: grid;
    gap: 2px;
    margin-right: 126px;
    margin-top: 30px;
    text-align: justify;
}

.skincare-daily-grid-row > h1  , .skincare-daily-grid-row > h1, .skincare-daily-grid-row > h1{
    font-size: 34px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
}

.skincare-daily-cards-1 > img, .skincare-daily-cards-2 > img, .skincare-daily-cards-3 > img {
    width: 75% !important;
}

/* Responsive */
@media (max-width: 768px) {
    .skincare-daily-section {
        padding: 23px var(--spacing-sm);
    }
        
    .skincare-daily-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }
}